@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700);
html,body {
    height: 100%;
}
body {
    font-family: 'Open Sans', sans-serif;
}
.container {
    min-width: 1300px;
}
.main-header {
    padding: 30px 0px;
    position: relative;
}
.content {
    width: 1300px;
    margin: 0 auto;
}
.logo,
.board,
.profile {
    display: inline-block;
}
/*====================board============================*/
.board {
    margin-left: 50px;
    vertical-align: top;
}
.board label {
    font-size: 13px;
    display: block;
    font-weight: bold;
    color: #1791E1;
}
.board select {
    outline: none;
    font-family: inherit;
    background-color: transparent;
    width: 100%;
    padding: 4px 0;
    font-size: 13px;
    color: #40404C;
    border: none;
    /*border-bottom: 1px solid rgba(0,0,0, 0.12);*/
}
/*====================profile============================*/
.profile {
    position: absolute;
    right: 70px;
}
.profile-photo {
    margin-right: 10px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    vertical-align: middle;
}
.profile-name {
    font-weight: bold;
    color: #40404C;
}
.search-form {
    display: inline-block;
    position: relative;
}
.search-input {
    outline: none;
    margin-right: 30px;
    border-radius: 30px;
    border: 1px solid #ccc;
    width: 272.5px;
    height: 37.2px;
    padding: 0 2em;
}
.search-input-icon::after {
    position: absolute;
    right: 50px;
    top: 10px;
    font-family: "Fontello";
    color: #1791E1;
    content: "\e800";
}
/*====================profile============================*/
.panels {
    background-image: linear-gradient(to bottom, #E0E4ED 50%,#B8C2C9);
    padding-top: 30px;
    min-height: 100%;
    height: 100%;
}

.panel {
    vertical-align: top;
    box-sizing: border-box;
    background-color: #fff;
    width: 280px;
    min-height: 400px;
    box-shadow: 0 0 31px rgba(0,0,0,0.1);
    /*border: 1px solid black;*/
    display: inline-block;
    margin-left:34px;
    border-radius: 4px;
    padding: 23px 15px;
}
.panel h1 {
    color: #1791E1;
    font-weight: bold;
    font-size: 14px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 15px;
    margin-bottom: 25px;
}
.panel .icon-down-open::after {
    color: #B8C2C9;
    margin-left: calc(100% - 190px);
    /*display: inline-block;*/
}
.panel-desc {
    border: 1px solid #ccc;
    padding: 15px 24px;
    font-size: 12px;
    border-radius: 4px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.1);
    margin-bottom: 10px;
    position: relative;
}
.status-group {
    position: absolute;
    right: 10px;
    /*border: 1px solid black;*/
    top: 50%;
    transform: translateY(-50%);
}
.status {
    display: block;
    margin-bottom: 2px;
    border: 3px solid #000;
    border-radius: 50px;
}
.status-start {
    border-color: #8FDC93;
}
.status-stopped {
    border-color: #D16363;
}
.status-suspended {
    border-color: #F5F18E;
}
